html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
}

:root {
    --color-primary: #ff4646;
    --color-primary-10: rgb(255, 70, 70, 0.1);
    --color-dark: #181C29;
    --color-static-white: #ffffff;
    --color-static-white-40: rgba(255, 255, 255, 0.4);
    --color-static-white-20: rgba(255, 255, 255, 0.2);
    --color-static-tag-purple: #4361FF;
    --color-static-tag-purple: #FF43F7;
    --color-static-tag-green: #06A44F;
    --color-content-backgroud: #ECF3F8;
    --color-overlay: rgba(24, 28, 41, 0.8);
}

.cs__wrapper {
    background-image: url('./assets/home-page/bg-snow.png');
    background-repeat: no-repeat;
    background-color: var(--color-primary);
}

.cs__container {
    max-width: 1276px;
    margin: 0 auto;
}

/* Typography */

.typography--header-1 {
    font-family: Montserrat;
    font-size: 32px;
    font-weight: 600;
    line-height: 150%;
    letter-spacing: 18%;
    text-transform: uppercase;
}

.typography--header-2 {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
    line-height: 152%;
    letter-spacing: 16%;
    text-transform: uppercase;
}

.typography--header-3 {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    line-height: 152%;
    letter-spacing: 8%;
    text-transform: uppercase;
}

.typography--header-4 {
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: 5%;
    text-transform: uppercase;
}

.typography--paragraph {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 148%;
}

.typography--action-large {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
    line-height: 152%;
    letter-spacing: 16%;
    text-transform: uppercase;
}

.typography--action-small {
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: 5%;
    text-transform: uppercase;
}

.typography--caption {
    font-family: Allura;
    font-size: 24px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 5%;
}

.typography--slider-text {
    font-family: Montserrat;
    font-size: 80px;
    font-weight: 600;
    text-transform: uppercase;
}

/* cs_header */

.cs_header {
    height: 64px;
}

.cs_header__container {
    max-width: 1276px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 12px 0;
}

.cs_header__logo {
    display: flex;
    align-items: center;
    gap: 8px;
}

.cs_header__logo>img {
    width: 24px;
    height: 24px;
}

.cs_header__nav>ul {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 8px;
}

.cs_header__nav>ul>li {
    list-style-type: none;
    text-transform: uppercase;

}

.cs_header__nav>ul>li>a {
    text-decoration: none;
    color: black;

    display: flex;
    padding: 12px 20px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 4px;
    overflow: hidden;

    transition: all 0.5s ease;
    /* background-color: rgba(6, 164, 79, 0.1); */
    /* border: 1px dashed green; */
}

.cs_header__nav>ul>li>a:hover,
.cs_header__nav>ul>li>a.--active {
    background-color: var(--color-primary-10);
    border-radius: 12px;
    /* border: 1px solid rgb(255,70,70, 0.1); */
    color: var(--color-primary);
}

/* cs_main_hero_section */

.cs_main_hero_section {
    background-color: var(--color-primary);
    background-image: url('./assets/home-page/hero-section/bg-ball-1.png');
    background-repeat: no-repeat;
    background-position: top center;
    margin: 0 auto;

    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    padding: 120px 0;
}

.cs_main_hero_section__caption {
    width: 100%;
    text-align: center;
    color: white;
}

.cs_main_hero_section__header {
    width: 436px;
    margin: 0 auto;
    text-align: center;
    color: white;
}

.cs_main_hero_section__header>h1 {
    margin: 0;
}

.cs_main_hero_section__button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cs_main_hero_section__button button {
    padding: 20px 32px;
    background-color: #181C29;
    border: none;
    color: white;
    border-radius: 20px;
    display: block;
}

/* cs_footer */

.cs_footer {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

.cs_footer__socials {
    width: 100%;
}

.cs_footer__socials>ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.cs_footer__socials>ul>li {
    list-style-type: none;
}

.cs_footer__socials>ul>li>a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
}

.cs_footer__rights {
    width: 100%;
    text-align: center;
}

.cs_footer__rights>p {
    margin: 0;
}

.cs_footer__made {
    width: 100%;
    text-align: center;
}

/* cs_about_section */

.cs_about_section__container {
    padding: 60px 0;
}

.cs_about_section {
    display: flex;
    border-radius: 20px;
    background-color: var(--color-static-white);
}

.cs_about_section__text {
    width: 100%;
    padding: 0 60px;

    display: flex;
    align-items: center;
}

.cs_about_section__text>div {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 426px;
}

.cs_about_section__text>div>div,
.cs_about_section__text>div>p {
    width: 100%;
}

.cs_about_section__text>div>p {
    margin: 0;
}

.cs_about_section__caption {
    color: var(--color-primary)
}

.cs_about_section__image {
    width: 100%;
    background-image: url('./assets/home-page/about-section/santa.png');
    background-repeat: no-repeat;
    max-width: 638px;
    height: 528px;
    border-radius: 20px;
}